# ==================================================
# SMARTBAZAAR PRO 2
# FEATURE: BACKEND ENVIRONMENT CONFIGURATION
# FEATURE: SECURE PAYMENT CREDENTIALS
# ==================================================

# ------------------------------------------
# SERVER
# ------------------------------------------

PORT=3000

# Your frontend website URL
FRONTEND_URL=https://your-domain.com


# ------------------------------------------
# FIREBASE
# ------------------------------------------

FIREBASE_DATABASE_URL=https://smart-bazaar-pro-2-default-rtdb.asia-southeast1.firebasedatabase.app


# ------------------------------------------
# JAZZCASH
# ------------------------------------------

JAZZCASH_ENVIRONMENT=sandbox

JAZZCASH_MERCHANT_ID=

JAZZCASH_PASSWORD=

JAZZCASH_INTEGRITY_SALT=

JAZZCASH_VERSION=2.0


# ------------------------------------------
# JAZZCASH URLS
# ------------------------------------------

JAZZCASH_SANDBOX_URL=https://sandbox.jazzcash.com.pk/

JAZZCASH_PRODUCTION_URL=https://payments.jazzcash.com.pk/


# ------------------------------------------
# PAYMENT SETTINGS
# ------------------------------------------

PAYMENT_CURRENCY=PKR

DEFAULT_COMMISSION_RATE=10
